.dark {
    background: #2E3440;
}

.light {
    background: #ECEFF4;
}

/* Styles for Hexagon grid */
#grid {
    overflow: scroll;
}
.row {
    clear: left;
}

.row:nth-child(even) {
    margin-left: 53px;
}

.row * {
    background: #81A1C1;
}

.row *:before, .row *:after {
    border-top-color: #81A1C1 !important;
    border-bottom-color: #81A1C1 !important;
}

.start {
    background: #A3BE8C;
}

.start:before, .start:after {
    border-top-color: #A3BE8C !important;
    border-bottom-color: #A3BE8C !important;
}

.end {
    background: #BF616A;
}

.end:before, .end:after {
    border-top-color: #BF616A !important;
    border-bottom-color: #BF616A !important;
}

.active {
    background: #88C0D0;
}

.active:before, .active:after {
    border-top-color: #88C0D0 !important;
    border-bottom-color: #88C0D0 !important;
}

.explored {
    background: #5E81AC;
}

.explored:before, .explored:after {
    border-top-color: #5E81AC !important;
    border-bottom-color: #5E81AC !important;
}

.shortest {
    background: #B48EAD;
}

.shortest:before, .shortest:after {
    border-top-color: #B48EAD !important;
    border-bottom-color: #B48EAD !important;
}

.blocked {
    background: #4C566A;
}

.blocked:before, .blocked:after {
    border-top-color: #4C566A !important;
    border-bottom-color: #4C566A !important;
}

.hexagon {
    float: left;
    margin-top: 31px;
    margin-left: 1px;
    margin-right: 1px;
    width: 104px;
    height: 60px;
    position: relative;
    transition: background-color 0.5s;
}

.hexagon:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
    transition: border-bottom-color 0.5s;
}

.hexagon:after {
    content: " ";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    transition: border-top-color 0.5s;
}